@import url(reset.css);

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --main-color: #17171C;
    --btn-color: #2E2F38;
    --secondary-btn-color: #4E505F;
    --text-color: #ffffff;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
}

.container {
    max-width: 530px;
    min-width: 300px;
    width: 100%;
    padding: 20px;
    height: 45%;
}

input {
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 35px;
    font-family: Work Sans;
    font-size: 96px;
    font-style: normal;
    font-weight: 300;
    line-height: 96px;
    color: var(--text-color);
    background: var(--main-color);
}

.buttons {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    height: 75px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px;
    align-items: center;
    border-radius: 24px;
    background: var(--btn-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Work Sans;
    font-size: 32px;
    line-height: 40px;
    color: var(--text-color);
}

button:active {
    transform: scale(0.99);
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
}

.operator--gray {
    background-color: var(--secondary-btn-color);
}

.operator--blue {
    background-color: #4B5EFC;
}

@media screen and (min-width:480px) {
    .container {
        height: 40%;
    }
}